# Node & React
node_modules/
dist/
.env

# Java Spring Boot & Maven
target/
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# IDE (VS Code, IntelliJ)
.idea/
.vscode/
*.iml

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
venv/
.env

# OS
.DS_Store
Thumbs.db

