# Web Framework (Tạo API)
fastapi==0.110.0
uvicorn==0.28.0

# Xử lý dữ liệu & AI / Machine Learning (Tạm tắt để tránh lỗi môi trường Windows)
# pandas==2.2.1
# numpy==1.26.4
# scikit-learn==1.4.1.post1

# Kết nối với Kafka (để giao tiếp với Backend Java)
kafka-python==2.0.2

# Thư viện để Test & đo Code Coverage > 90% (Yêu cầu của thầy)
pytest==8.1.1
pytest-cov==4.1.0
httpx==0.27.0 # Dùng để test API của FastAPI

# Cơ sở dữ liệu ORM & Migration (Alembic Code-First cho AI Service)
sqlalchemy>=2.0.28
alembic>=1.13.1
psycopg[binary]>=3.1.18
